[submodule "tweeter--mobile"]
	path = tweeter--mobile
	url = https://github.com/joefraley/tweeter--mobile.git
[submodule "tweeter--desktop"]
	path = tweeter--desktop
	url = https://github.com/joefraley/tweeter--desktop.git
[submodule "tweeter--web"]
	path = tweeter--web
	url = https://github.com/joefraley/tweeter--web.git
